$height-header: 70px;

.header-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__header {
    height: $height-header;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #fff;
    z-index: 999;
  }

  &__left {
    z-index: 2;
  }

  &__container {
    display: flex;
    width: 100%;
    margin-top: $height-header;
    flex: 1;
  }
  &__center {
    flex: 1;
    background-color: #e5e5e5;
    padding: 40px 20px;
  }
}
