.avatar {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  &--oval {
    border-radius: 15px;
  }
}
