$height-header: 70px;

.buyer-layout {
  width: 100%;
  // max-width: $screen-width;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__header {
    height: $height-header;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #fff;
    z-index: 999;
  }

  &__left {
    z-index: 2;
    background-color: #e5e5e5;
    position: fixed;
    left: 20px;
  }

  &__container {
    background-color: #e5e5e5;
    display: flex;
    width: 100%;
    margin-top: $height-header;
    padding-top: 30px;
    flex: 1;
  }
  &__center {
    flex: 1;
    background-color: #e5e5e5;
    padding: 0px 20px 40px 0px;
  }
}

button {
  background-color: aliceblue;
  padding: 4px;
}
