.sell-ecommerce {
    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    margin-top: 15px;
}