.sell-ecommerce {
  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  &__pick-category {
    position: relative;
    padding: 5px 10px;
    border: 1px solid;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
  }
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  margin-top: 15px;
}
