.dropdown-select {
  // margin-top: 14px;
  width: 100%;
  &--open {
    z-index: 100;
    .dropdown-select__main {
      position: relative;
    }
    .dropdown-select__res {
      position: relative;
    }
  }
  &__label {
    margin-left: 12px;
    font-weight: 600;
  }
  &__main {
    background-color: white;

    // position: relative;
    cursor: pointer;
    max-height: 500px;
    margin-top: 8px;
  }
  &__res {
    // background-color: rgba($color: #324075, $alpha: 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 16px;
    border-radius: 12px;
    z-index: 100;
    border: 1px solid #d0d4d9;
    &--open {
      // background-color: #273360;
    }
  }
  p {
    margin: 0;
    font-size: 15px;
  }
  &__selected-text {
    font-weight: bold;
  }
  &__place-holder {
    margin: 0;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
  }

  &__list-outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border-radius: 12px;
    border: 1px solid #d0d4d9;
    z-index: 1;
    display: none;
    &--open {
      display: block;
    }
  }
  &__list {
    padding: 44px 12px 0;
    max-height: 200px;
    overflow: auto;
    margin-right: 4px;

    &::-webkit-scrollbar-thumb {
      background-color: #0075ff;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track-piece:start {
      margin-top: 50px;
      background-color: #435198;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track-piece:end {
      margin-bottom: 10px;
      background-color: #435198;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: #344175;
      margin-bottom: 10px;
    }
  }
  &__select {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    position: relative;
    cursor: pointer;
    p {
      margin: 0;
    }
    img {
      width: 12px;
      height: 9px;
    }
    &--active {
      p {
        color: #1f5eff;
      }
    }

    &:not(:first-child) {
      &::before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #3f4e88;
      }
    }
  }

  // Load school
  &__input-search {
    // background-color: #273360;
    // border: 1px solid #1f5eff;
  }
  .infinite-scroll-component {
    overflow: hidden !important;
  }
}
