.noti {
  display: flex;
  padding: 4px 10px;
  &--active {
    background-color: #d0e4ff;
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__detail {
    margin-left: 10px;
    p,
    span {
      color: rgba($color: #000000, $alpha: 0.5);
    }
    b {
      color: #000000;
    }
  }
  &__mark-read {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    color: #216fdb;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    background-color: #eaf3fe;
    cursor: pointer;
  }
}
