@import '../../../assets/scss/mixins';
.grid-layout-two-col {
  display: flex;
  gap: 10px;
  & > div {
    &:first-child {
      flex: 1;
    }
    &:last-child {
      width: 400px;
    }
  }

  @include max-respond-to(lg) {
    flex-direction: column;
    & > div {
      &:last-child {
        width: unset;
      }
    }
  }
}
