.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 8px;
  width: 100%;

  &__text {
    align-self: left;
    width: 100%;
  }
  &__action {
    display: flex;
    align-self: flex-start;
    svg {
      width: 22px;
      height: 22px;
      margin-left: 6px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__keyword-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
  &__icon {
    svg {
      width: 16px;
      height: 16px;
      margin-right: 8px;
    }
  }
  &__response {
    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 12px;
    align-self: left;
    p {
      font-size: 16px;
    }
  }
  &__keyword {
    font-size: 16px;
    border-radius: 6px;
    padding: 6px 10px;
    background-color: #ccc;
    margin-right: 6px;
    display: block;
  }
  &__keywords {
    width: 100%;
    display: flex;
    justify-content: left;
  }
}
