@import '../../assets/scss/variables';

.create-template {
  &__chip {
    background-color: $primary-color;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__chips-container {
    border: 1px solid black;
    padding-top: 10px;
    border-left: none;
    border-right: none;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
  }
}
